site_name: Cookiecutter NetBox Plugin
site_url: https://github.com/netbox-community/cookiecutter-netbox-plugin
repo_url: https://github.com/netbox-community/cookiecutter-netbox-plugin
repo_name: netbox-community/cookiecutter-netbox-plugin
nav:
  - Introduction: index.md
  - Quickstart: quickstart.md
  - Extending Your Plugin: extending.md
  - Publishing Your Plugin: publishing.md
  - Prompts: prompts.md
  - Release checklist: pypi_release_checklist.md
  - History: history.md

theme:
  name: material
  language: en
  #logo: assets/logo.png
  palette:
      scheme: preference
      primary: indigo
      accent: indigo
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tabs.sticky

markdown_extensions:
  - pymdownx.highlight:
      linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.details
  - admonition
  - toc:
      baselevel: 2
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
plugins:
  - include-markdown
  - search:
      lang: en
