SECRET_KEY='dummydummydummydummydummydummydummydummydummydummy' # pragma: allowlist secret
DEVELOPER=True
DB_USER=netbox
DB_PASSWORD=password # pragma: allowlist secret
DB_NAME=netbox
DB_HOST=postgres
DB_BACKUP_USER=
DB_BACKUP_HOST=
DB_BACKUP_DIRECTORY=
REDIS_HOST=redis
DEBUG=True
