site_name: {{ cookiecutter.project_name }}
site_url: https://{{ cookiecutter.github_username }}.github.io/{{ cookiecutter.hyphenated }}
repo_url: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.hyphenated }}
repo_name: {{ cookiecutter.github_username }}/{{ cookiecutter.hyphenated }}
#strict: true
nav:
  - Home: index.md
  - Contributing: contributing.md
  - Changelog: changelog.md
theme:
  name: material
  language: en
  #logo: assets/logo.png
  palette:
    scheme: preference
    primary: indigo
    accent: indigo
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tabs.sticky
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: false
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - admonition
  - toc:
      baselevel: 2
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify {}
  - meta
plugins:
  - include-markdown
  - search:
      lang: en
watch:
  - {{ cookiecutter.underscored }}
extra:
  social:
    - icon: fontawesome/brands/twitter
      # replace with your own tweet link below
      link: https://github.com/netbox-community/cookiecutter-netbox-plugin
      name: Tweet
    - icon: fontawesome/brands/facebook
      # replace with your own facebook link below
      link: https://github.com/netbox-community/cookiecutter-netbox-plugin
      name: Facebook
    - icon: fontawesome/brands/github
      link: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.hyphenated }}
      name: Github
    - icon: material/email
      link: "mailto:{{ cookiecutter.email }}"
  # to enable disqus, uncomment the following and put your disqus id below
  # disqus: disqus_id
# uncomment the following and put your google tracking id below to enable GA
#google_analytics:
  #- UA-xxx
  #- auto
